/* shared style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.secondary-bg {
  background-color: #f5f8ff;
}

.text-primary {
  color: #4e47ff;
}

.text-secondary {
  color: #252432;
}

.text-center {
  text-align: center;
}

.primary-btn {
  padding: 12px 36px;
  background-color: #4e47ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

body {
  margin: 0 0;
}

/* header */
header {
  background-image: url("../images/Hero-bg.png");
  height: 698px;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
}

nav li {
  list-style: none;
}

.nav-title {
  font-size: 34px;
  font-weight: 900;
}

/* banner styles */
.banner {
  max-width: 905px;
  margin: 155px auto;
}
.banner-content {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
}
